<%-
strformfor = "@#{singular_table_name}"
if !namespace_alone.blank?
  strformfor = "[:#{namespace_alone}, @#{singular_table_name} ]"
end
-%>

<%%= form_for(<%= strformfor %>) do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

      <ul>
        <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %><li><%%= msg %></li><%% end %>
      </ul>
    </div>
  <%% end %>
  <%= render_partial 'app/views/partials/_form_field.html.erb' %><!-- Beautiful_scaffold - AddField - Do not remove -->
  <div>
    <%%= link_to <%= namespace_for_route %><%= plural_table_name %>_path, :class => "btn btn-light" do %>
      <i class="fa fa-chevron-left"></i> <%%= t(:back, :default => "Back") %>
    <%% end %>
    <%%= f.submit :class => "btn btn-primary", :data => { :disable_with => t(:saving, :default => "Saving...") } %>
  </div>
<%% end %>


