<h2><%%= t(:listing, :default => "Listing") %> <%= plural_table_name %></h2>

<p>
  <%%= link_to '<i class="icon-plus"></i>'.html_safe + t(:new, :default => "New") + ' <%= model %>', new_<%= namespace_for_route %><%= singular_table_name %>_path, :class => "btn" %>
</p>

<%%# Set your scopes below (string in array) %>
<%% scopes = [] %>
<%% if not scopes.blank? then %>
<div class="btn-toolbar">
  <div class="btn-group">
    <%%= link_to "All (#{@<%= model %>_scope_for_scope.count})", <%= namespace_for_route %><%= plural_table_name %>_path(:scope => ""), :class => "btn #{((session[:scope][:<%= model %>].to_s == '') ? 'active' : '')}" %>
    <%% for scope in scopes %>
    <%%= link_to "#{scope} (#{@<%= model %>_scope_for_scope.send(scope).count})", <%= namespace_for_route %><%= plural_table_name %>_path(:scope => scope), :class => "btn #{((session[:scope][:<%= model %>].to_s == scope) ? 'active' : '')}" %>
    <%% end %>
  </div>
</div>
<%% end %>

<div class="row-fluid">
  <div class="span9">
    <%%= form_tag  batch_<%= namespace_for_route %><%= plural_table_name %>_path, :class => "form-inline" do %>
      <div class="well">
        <label class="control-label" for="select01"><%%= t(:batch, :default => "Batch") %></label>

        <select id="select01" name="actionprocess">
          <option value="destroy"><%%= t(:destroy, :default => "Destroy") %></option>
          <%= render_partial 'app/views/partials/_index_batch.html.erb' %>
          <!-- Beautiful_scaffold - AddField - Batch - Do not remove -->
        </select>
        <button class="btn" type="submit"><i class="icon-ok"></i> <%%= t(:process, :default => "Process") %></button>
      </div>

      <%%= render :partial => "layouts/modal_columns", :locals => { :model_name => "<%= singular_table_name %>", :model_columns => [<%= attributes.map{ |e| "'#{e.name}'" }.join(',') %>] } %>

      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th>
              <a class="" data-toggle="modal" href="#modal-columns" title="<%%= t(:select_columns, :default => "Select Columns") %>" ><i class="icon-th-list"></i></a>
            </th>
            <th>
              <%%= check_box_tag :checkall, '' %>
              <script type="text/javascript">
                $('#checkall').click(function(){
                  $('.cbbatch').attr('checked', ($(this).attr('checked') != undefined));
                });
              </script>
            </th>
            <%= render_partial 'app/views/partials/_index_header.html.erb' %>
            <!-- Beautiful_scaffold - AddField - Header - Do not remove -->
            <th colspan="3">
              <label class="checkbox">
                <%%= check_box_tag :checkallelt, 'all' %>
                <%%= pluralize(@<%= singular_table_name %>_scope.count, "<%= singular_table_name %>") %>
              </label>
            </th>
          </tr>
        </thead>
        <tbody>
          <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
          <tr class="line-<%%= cycle("1","2") %>">
            <td><%%= <%= singular_table_name %>.id %></td>
            <td><%%= check_box_tag "ids[]",<%= singular_table_name %>.id, false, :class => 'cbbatch' %></td>
            <%= render_partial 'app/views/partials/_index_column.html.erb' %><!-- Beautiful_scaffold - AddField - Column - Do not remove -->
            <td><%%= link_to '<i class="icon-search"></i>'.html_safe, <%= namespace_for_route %><%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
            <td><%%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_<%= namespace_for_route %><%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
            <td><%%= link_to '<i class="icon-remove"></i>'.html_safe, <%= namespace_for_route %><%= singular_table_name %>_path(<%= singular_table_name %>), :confirm => t(:are_you_sure, :default => "Are you sure?"), :method => :delete %></td>
          </tr>
          <%% end %>
        </tbody>
      </table>

      <div class="btn-toolbar">
        <div class="btn-group">

          <%%= will_paginate @<%= plural_table_name %>,
                  :inner_window => 0,
                  :outer_window => 0,
                  :previous_label => t(:prev, :default => "Previous"),
                  :next_label => t(:next, :default => "Next") %>

        </div>
        <div class="btn-group pull-right">
          <%%= link_to '<i class="icon-download"></i> CSV'.html_safe,  <%= namespace_for_route %><%= plural_table_name %>_path(:format => :csv), :class => "nopjax btn" %>
          <%%= link_to '<i class="icon-download"></i> XML'.html_safe,  <%= namespace_for_route %><%= plural_table_name %>_path(:format => :xml), :class => "nopjax btn" %>
          <%%= link_to '<i class="icon-download"></i> JSON'.html_safe, <%= namespace_for_route %><%= plural_table_name %>_path(:format => :json), :class => "nopjax btn" %>
          <%%= link_to '<i class="icon-download"></i> PDF'.html_safe,  <%= namespace_for_route %><%= plural_table_name %>_path(:format => :pdf), :class => "nopjax btn" %>
        </div>
      </div>
    <%% end %>
  </div>
  <div class="span3">
    <%%= search_form_for @q, :url => { :controller => "<%= namespace_for_url %><%= model_pluralize %>" }, :html => { :class => "well" } do |f| %>
      <%= render_partial 'app/views/partials/_index_search.html.erb' %>
      <!-- Beautiful_scaffold - AddField - Search - Do not remove -->
      <%%= f.submit t(:filter, :default => "Filter"), :class => "btn btn-primary" %>
      <%%= link_to  t(:cancel, :default => "Cancel"), <%= namespace_for_route %><%= model_pluralize %>_path(:nosearch => "ok"), :class => "btn" %>
    <%% end %>
  </div>
</div>
