<h2><%%= t(:listing, :default => "Listing") %> <%%= <%= i18n_t_m_p(singular_table_name) %> %></h2>

<p>
  <%%= link_to '<i class="fa fa-plus"></i> '.html_safe + t(:new, :default => "New") + ' ' + <%= i18n_t_m(model) %>, new_<%= namespace_for_route %><%= singular_table_name %>_path, :class => "btn btn-default" %>
  <%% if <%= model_camelize %>.columns.map(&:name).include?("<%= model %>_id") then %>
    <%%= link_to '<i class="fa fa-folder-close"></i> '.html_safe + t(:treeview, :default => "Treeview") + ' ' + <%= i18n_t_m(model) %>, treeview_<%= namespace_for_route %><%= model_pluralize %>_path, :class => "btn btn-default" %>
  <%% end %>
</p>

<%%= render :partial => "layouts/mass_inserting", :locals => { :namespace => '<%= namespace_alone %>', :model_name => '<%= model %>', :model_columns => [<%= attributes.map{ |e| "'#{e.name}'" }.join(',') %>] } %>

<%%# Set your scopes below (string in array) %>
<%% scopes = [] %>
<%% if not scopes.blank? then %>
<div class="btn-toolbar">
  <div class="btn-group">
    <%%= link_to "All (#{@<%= model %>_scope_for_scope.count})", <%= namespace_for_route %><%= plural_table_name %>_path(:scope => ""), :class => "btn btn-default #{((session[:scope][:<%= model %>].to_s == '') ? 'active' : '')}" %>
    <%% for scope in scopes %>
    <%%= link_to "#{scope} (#{@<%= model %>_scope_for_scope.send(scope).count})", <%= namespace_for_route %><%= plural_table_name %>_path(:scope => scope), :class => "btn btn-default #{((session[:scope][:<%= model %>].to_s == scope) ? 'active' : '')}" %>
    <%% end %>
  </div>
</div>
<%% end %>

<div class="row">
  <div class="col-md-9">
    <%%= form_tag  batch_<%= namespace_for_route %><%= plural_table_name %>_path, :class => "form-inline" do %>
      <div class="well well-small">
        <label class="control-label" for="select01"><%%= t(:batch, :default => "Batch") %></label>

        <select id="select01" name="actionprocess" class="form-control">
          <option value="destroy"><%%= t(:destroy, :default => "Destroy") %></option>
<%= render_partial 'app/views/partials/_index_batch.html.erb' %>
          <!-- Beautiful_scaffold - AddField - Batch - Do not remove -->
        </select>
        <button class="btn btn-default" type="submit"><i class="fa fa-ok"></i> <%%= t(:process, :default => "Process") %></button>
      </div>

      <%%= render :partial => "layouts/modal_columns", :locals => { :model_name => "<%= singular_table_name %>", :model_columns => [<%= (attributes.map{ |e| "'#{e.name}'" }.to_a + ["'created_at'", "'updated_at'"]).join(',') %>] } %>

      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th class="ac">
              <a class="" data-toggle="modal" href="#modal-columns" title="<%%= t(:select_columns, :default => "Select Columns") %>" ><i class="fa fa-th-list"></i></a>
            </th>
            <th>
              <%%= check_box_tag :checkall, '' %>
            </th>
<%= render_partial 'app/views/partials/_index_header.html.erb' %>
            <!-- Beautiful_scaffold - AddField - Header - Do not remove -->
            <th <%%= visible_column("<%= singular_table_name %>", "created_at") %> class="bs-col-created_at">
              <%%= sorting_header("<%= singular_table_name %>", "created_at", "<%= namespace_alone %>") %>
            </th>
            <th <%%= visible_column("<%= singular_table_name %>", "updated_at") %> class="bs-col-updated_at">
              <%%= sorting_header("<%= singular_table_name %>", "updated_at", "<%= namespace_alone %>") %>
            </th>
            <th colspan="3">
              <label class="checkbox">
                <%%= check_box_tag :checkallelt, 'all' %>
                <%%= pluralize(@<%= singular_table_name %>_scope.count, <%= i18n_t_m(singular_table_name) %>, <%= i18n_t_m_p(singular_table_name) %>) %>
              </label>
            </th>
          </tr>
        </thead>
        <tbody>
          <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
          <tr class="line-<%%= cycle("1","2") %>">
            <td class="ar"><%%= <%= singular_table_name %>.id %></td>
            <td><%%= check_box_tag "ids[]",<%= singular_table_name %>.id, false, :class => 'cbbatch' %></td>
<%= render_partial 'app/views/partials/_index_column.html.erb' %><!-- Beautiful_scaffold - AddField - Column - Do not remove -->
            <td <%%= visible_column("<%= singular_table_name %>", "created_at") %> class="bs-col-created_at <%%= align_attribute("datetime") %>">
              <%%= l(<%= singular_table_name %>.created_at, :format => :long) %>
            </td>
            <td <%%= visible_column("<%= singular_table_name %>", "updated_at") %> class="bs-col-updated_at <%%= align_attribute("datetime") %>">
              <%%= l(<%= singular_table_name %>.updated_at, :format => :long) %>
            </td>
            <td class="ac am"><%%= link_to '<i class="fa fa-search"></i>'.html_safe, <%= namespace_for_route %><%= singular_table_name %>_path(<%= singular_table_name %>), :title => t(:show, :default => "Show") %></td>
            <td class="ac am"><%%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_<%= namespace_for_route %><%= singular_table_name %>_path(<%= singular_table_name %>), :title => t(:edit, :default => "Edit") %></td>
            <td class="ac am"><%%= link_to '<i class="fa fa-times"></i>'.html_safe, <%= namespace_for_route %><%= singular_table_name %>_path(<%= singular_table_name %>), :data => { :confirm => t(:are_you_sure, :default => "Are you sure?") }, :method => :delete, :title => t(:destroy, :default => "Destroy") %></td>
          </tr>
          <%% end %>
        </tbody>
      </table>

      <div class="btn-toolbar">
        <div class="btn-group">
          <%% clean_params %>
          <%%= will_paginate @<%= plural_table_name %>,
                  :inner_window => 0,
                  :outer_window => 0,
                  :previous_label => t(:prev, :default => "Previous"),
                  :next_label => t(:next, :default => "Next") %>

        </div>
        <div class="btn-group pull-right">
          <%%= link_to '<i class="fa fa-download"></i> CSV'.html_safe,  <%= namespace_for_route %><%= plural_table_name %>_path(:format => :csv), :class => "btn btn-default" %>
          <%%= link_to '<i class="fa fa-download"></i> XML'.html_safe,  <%= namespace_for_route %><%= plural_table_name %>_path(:format => :xml), :class => "btn btn-default" %>
          <%%= link_to '<i class="fa fa-download"></i> JSON'.html_safe, <%= namespace_for_route %><%= plural_table_name %>_path(:format => :json), :class => "btn btn-default" %>
          <%%= link_to '<i class="fa fa-download"></i> PDF'.html_safe,  <%= namespace_for_route %><%= plural_table_name %>_path(:format => :pdf), :class => "btn btn-default" %>
        </div>
      </div>
    <%% end %>
  </div>
  <div class="col-md-3">
    <%%= search_form_for @q, :url => <%= namespace_for_route + 'search_' + model_pluralize + '_path' %>, :html => { :class => "well well-small search-and-filter" }, :method => :post do |f| %>

      <h3><%%= t("search_and_filter", :default => "Search & filter") %></h3>

<%= render_partial 'app/views/partials/_index_search.html.erb' %>

      <!-- Beautiful_scaffold - AddField - Search - Do not remove -->

      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a class="accordion-toggle" data-toggle="collapse-next">
              <%%= t(:more_options, :default => "More options...") %>
            </a>
          </div>
          <div class="panel-collapse collapse">
            <div class="panel-body">
<%= render_partial 'app/views/partials/_index_search_default_fields.html.erb' %>
            </div>
          </div>
        </div>
      </div>


      <%%= f.submit t(:filter, :default => "Filter"), :class => "btn btn-primary" %>
      <%%= link_to  t(:cancel, :default => "Cancel"), <%= namespace_for_route %><%= model_pluralize %>_path(:nosearch => "ok"), :class => "btn btn-default" %>
    <%% end %>
  </div>
</div>
