<h2><%%= t(:show, :default => "Show") %> <%%= <%= i18n_t_m(singular_table_name) %> %></h2>

<%= render_partial 'app/views/partials/_show_field.html.erb' %>
<!-- Beautiful_scaffold - AddField - Field - Do not remove -->

<%%= link_to t(:edit, :default => "Edit"), edit_<%= namespace_for_route %><%= singular_table_name %>_path(@<%= singular_table_name %>), :class => "btn btn-default" %>
<%%= link_to t(:back, :default => "Back"), <%= namespace_for_route %><%= plural_table_name %>_path, :class => "btn btn-default" %>

