<%- attributes.each do |attribute| -%>
  <%- if @beautiful_attributes.include?(attribute.name + ':richtext') then -%>
    <div class="field">
      <%%= f.label :<%= attribute.name %>, t(:<%= attribute.name %>, :default => "<%= attribute.name %>") %>
      <%%= f.text_area :<%= attribute.name %>, :class => "richtext-editor" %>
    </div>
    <div class="field">
      <% for type in richtext_type %>
        <%% hashradio = {:id => "<%= attribute.name %>-<%= type %>", :class => "select-richtext", 'data-editor' => 'markItUp<%= singular_table_name.capitalize %>_<%= attribute.name.downcase %>', 'data-spleditor' => '<%= singular_table_name %>_<%= attribute.name %>' } %>
        <%% hashradio[:checked] = "checked" if @<%= singular_table_name %>.<%= attribute.name %>_typetext == "<%= type %>" %>
        <%%= f.radio_button :<%= attribute.name %>_typetext, "<%= type %>", hashradio  %>
        <label for="<%= attribute.name %>-<%= type %>" class="label-richtext-type"><%= type.capitalize %></label>
      <% end %>
    </div>

  <%% rttype = @<%= singular_table_name %>.<%= attribute.name %>_typetext.to_s %>
  <%% if not rttype.blank? then %>
  <script language="javascript">
    $(document).ready(function(){
      $('#<%= singular_table_name %>_<%= attribute.name %>').markItUp(my<%%= rttype.capitalize %>Settings);
      $('#markItUp<%= singular_table_name.capitalize %>_<%= attribute.name.downcase %>').addClass('<%%= rttype.downcase %>');
    });
  </script>
  <%% end %>
    
  <%- elsif @beautiful_attributes.include?(attribute.name + ':references') then -%>
    <div class="field">
      <%%= f.label :<%= attribute.name %>, t(:<%= attribute.name %>, :default => "<%= attribute.name %>") %>
      <%%= f.collection_select :<%= attribute.name %>_id, <%= attribute.name.camelcase %>.all, :id, :caption %>
    </div>
  <%- else -%>
    <div class="field">
      <%%= f.label :<%= attribute.name %>, t(:<%= attribute.name %>, :default => "<%= attribute.name %>") %>
      <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
    </div>
  <%- end -%>
<%- end -%>
