<%- attributes.each do |attribute| -%>
  <%- if @beautiful_attributes.include?(attribute.name + ':wysiwyg') -%>
    <div class="form-group">
      <%%= f.label :<%= attribute.name %>, <%= i18n_t_a(singular_table_name, attribute.name) %>.capitalize, :class => "control-label" %>
      <%%= f.text_area :<%= attribute.name %>, :class => "wysiwyg-editor form-control" %>
    </div>
    <%%= f.hidden_field :<%= attribute.name %>_typetext, :value => "html"  %>
  <%- elsif @beautiful_attributes.include?(attribute.name + ':references') -%>
    <div class="form-group">
      <%%= f.label :<%= attribute.name %>, <%= i18n_t_a(singular_table_name, attribute.name) %>.capitalize, :class => "control-label" %>
      <%%= f.collection_select :<%= attribute.name %>_id, <%= engine_camel.present? ? "#{engine_camel}::" : '' %><%= attribute.name.camelcase %>.all, :id, :caption, { :include_blank => true }, { :class => "form-control" } %>
    </div>
  <%- elsif @beautiful_attributes.include?(attribute.name + ':price') -%>
    <div class="form-group">
      <%%= f.label :<%= attribute.name %>, <%= i18n_t_a(singular_table_name, attribute.name) %>.capitalize, :class => "control-label" %>
      <div class="input-group">
        <span class="input-group-text">$</span><%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :class => "form-control" %>
      </div>
    </div>
  <%- elsif (datetime_field = @beautiful_attributes.include?(attribute.name + ':datetime')) || @beautiful_attributes.include?(attribute.name + ':date') -%>
    <div class="form-group">
      <%%= f.label :<%= attribute.name %>, <%= i18n_t_a(singular_table_name, attribute.name) %>.capitalize, :class => "control-label" %>
      <% if datetime_field %>
      <div class="row">
      <% end %>
        <div id="container_<%= singular_table_name %>_<%= attribute.name %>_dp" data-field="<%= singular_table_name %>_<%= attribute.name %>_input_" class="input-group input-datetime dpicker <%= (datetime_field ? 'col-sm' : '') %>" data-target-input="nearest">
          <%%= f.text_field :<%= attribute.name %>, :value => (begin @<%= singular_table_name %>.<%= attribute.name %>.strftime("%d/%m/%Y") rescue "" end),
                           :class => "form-control datetimepicker-input",
                           "data-target" => "#container_<%= singular_table_name %>_<%= attribute.name %>_dp",
                           "data-id" => "<%= singular_table_name %>_<%= attribute.name %>_input_", id: nil %>
          <div class="input-group-append" data-target="container_<%= singular_table_name %>_<%= attribute.name %>_dp" data-toggle="datetimepicker">
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
        <% if datetime_field %>
          <div id="container_<%= singular_table_name %>_<%= attribute.name %>_tp" data-field="<%= singular_table_name %>_<%= attribute.name %>_input_" class="input-group input-datetime tpicker col-sm" data-target-input="nearest">
            <%%= f.text_field :<%= attribute.name %>, :value => (begin @<%= singular_table_name %>.<%= attribute.name %>.strftime("%H:%M") rescue "" end),
                             :class => "form-control datetimepicker-input",
                             "data-target" => "#container_<%= singular_table_name %>_<%= attribute.name %>_tp",
                             "data-id" => "<%= singular_table_name %>_<%= attribute.name %>_input_", id: nil %>
            <div class="input-group-append" data-target="container_<%= singular_table_name %>_<%= attribute.name %>_tp" data-toggle="datetimepicker">
              <span class="input-group-text"><i class="fa fa-clock"></i></span>
            </div>
          </div>
        <% end %>
        <%% ["year","mon","day" <%= datetime_field ? ',"min","hour"' : '' %>].each_with_index do |meth, i| %>
          <%%= f.hidden_field("<%= attribute.name %>(#{i+1}i)", value: @<%= singular_table_name %>.<%= attribute.name %>&.send(meth), id: "<%= singular_table_name %>_<%= attribute.name %>_input_#{i+1}i") %>
        <%% end %>
      <% if datetime_field %>
        </div>
      <% end %>
    </div>
  <%- elsif @beautiful_attributes.include?(attribute.name + ':color') -%>
    <div class="form-group">
      <%%= f.label :<%= attribute.name %>, <%= i18n_t_a(singular_table_name, attribute.name) %>.capitalize, :class => "control-label" %>
      <div class="input-group">
        <%%= f.color_field :<%= attribute.name %>, :class => "form-control" %>
      </div>
    </div>
  <%- else -%>
    <div class="form-group">
      <%%= f.label :<%= attribute.name %>, <%= i18n_t_a(singular_table_name, attribute.name) %>.capitalize, :class => "control-label" %>
      <%%= f.<%= attribute.field_type %> :<%= attribute.name %><%= ', :rows => 5' if attribute.field_type == :text_area %>, :class => "form-control" %>
    </div>
  <%- end -%>
<%- end -%>
