<%- attributes.each do |attribute| -%>
  <%- if @beautiful_attributes.include?(attribute.name + ':richtext') then -%>
    <div class="control-group">
      <%%= f.label :<%= attribute.name %>, t(:<%= attribute.name %>, :default => "<%= attribute.name.capitalize %>"), :class => "control-label" %>
      <div class="controls">
        <%%= f.text_area :<%= attribute.name %>, :class => "richtext-editor" %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inlineCheckboxes"></label>
      <div class="controls">
        <% for type in richtext_type %>
          <%% hashradio = {:id => "<%= attribute.name %>-<%= type %>", :class => "select-richtext", 'data-editor' => 'markItUp<%= singular_table_name.capitalize %>_<%= attribute.name.downcase %>', 'data-spleditor' => '<%= singular_table_name %>_<%= attribute.name %>' } %>
          <%% hashradio[:checked] = "checked" if @<%= singular_table_name %>.<%= attribute.name %>_typetext == "<%= type %>" %>
          <label for="<%= attribute.name %>-<%= type %>" class="label-richtext-type checkbox inline">
            <%%= f.radio_button :<%= attribute.name %>_typetext, "<%= type %>", hashradio  %>
            <%= type.capitalize %>
          </label>
        <% end %>
      </div>
    </div>

    <%% rttype = @<%= singular_table_name %>.<%= attribute.name %>_typetext.to_s %>
    <%% if not rttype.blank? then %>
    <script language="javascript">
      $(document).ready(function(){
        $('#<%= singular_table_name %>_<%= attribute.name %>').markItUp(my<%%= rttype.capitalize %>Settings);
        $('#markItUp<%= singular_table_name.capitalize %>_<%= attribute.name.downcase %>').addClass('<%%= rttype.downcase %>');
      });
    </script>
    <%% end %>
    
  <%- elsif @beautiful_attributes.include?(attribute.name + ':references') then -%>
    <div class="control-group">
      <%%= f.label :<%= attribute.name %>, t(:<%= attribute.name %>, :default => "<%= attribute.name.capitalize %>"), :class => "control-label" %>
      <div class="controls">
        <%%= f.collection_select :<%= attribute.name %>_id, <%= attribute.name.camelcase %>.all, :id, :caption %>
      </div>
    </div>
  <%- elsif @beautiful_attributes.include?(attribute.name + ':price') then -%>
    <div class="control-group">
      <%%= f.label :<%= attribute.name %>, t(:<%= attribute.name %>, :default => "<%= attribute.name.capitalize %>"), :class => "control-label" %>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">$</span><%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
        </div>
      </div>
    </div>
  <%- elsif @beautiful_attributes.include?(attribute.name + ':date') then -%>
    <div class="control-group">
      <%%= f.label :<%= attribute.name %>, t(:<%= attribute.name %>, :default => "<%= attribute.name.capitalize %>"), :class => "control-label" %>
      <div class="controls">
        <div class="input-append">
          <input type="hidden" name="<%= singular_table_name %>[<%= attribute.name %>(3i)]" id="<%= singular_table_name %>_<%= attribute.name %>_3i" value="<%%= begin @<%= singular_table_name %>.<%= attribute.name %>.day rescue "" end %>" />
          <input type="hidden" name="<%= singular_table_name %>[<%= attribute.name %>(2i)]" id="<%= singular_table_name %>_<%= attribute.name %>_2i" value="<%%= begin @<%= singular_table_name %>.<%= attribute.name %>.mon rescue "" end %>" />
          <input type="hidden" name="<%= singular_table_name %>[<%= attribute.name %>(1i)]" id="<%= singular_table_name %>_<%= attribute.name %>_1i" value="<%%= begin @<%= singular_table_name %>.<%= attribute.name %>.year rescue "" end %>" />
          <%%= f.text_field :<%= attribute.name %>, :class => "dpicker" %><span class="add-on"><i class="icon-calendar"></i></span>
        </div>
      </div>
    </div>
  <%- elsif @beautiful_attributes.include?(attribute.name + ':datetime') then -%>
    <div class="control-group">
      <%%= f.label :<%= attribute.name %>, t(:<%= attribute.name %>, :default => "<%= attribute.name.capitalize %>"), :class => "control-label" %>
      <div class="controls">
        <div class="input-append">
          <input type="hidden" name="<%= singular_table_name %>[<%= attribute.name %>(3i)]" id="<%= singular_table_name %>_<%= attribute.name %>_3i" value="<%%= begin @<%= singular_table_name %>.<%= attribute.name %>.day rescue "" end %>" />
          <input type="hidden" name="<%= singular_table_name %>[<%= attribute.name %>(2i)]" id="<%= singular_table_name %>_<%= attribute.name %>_2i" value="<%%= begin @<%= singular_table_name %>.<%= attribute.name %>.mon rescue "" end %>" />
          <input type="hidden" name="<%= singular_table_name %>[<%= attribute.name %>(1i)]" id="<%= singular_table_name %>_<%= attribute.name %>_1i" value="<%%= begin @<%= singular_table_name %>.<%= attribute.name %>.year rescue "" end %>" />
          <%%= f.text_field :<%= attribute.name %>, :class => "dpicker" %><span class="add-on"><i class="icon-calendar"></i></span>
        </div>
        <div class="input-append">
          <input type="hidden" name="<%= singular_table_name %>[<%= attribute.name %>(4i)]" id="<%= singular_table_name %>_<%= attribute.name %>_4i" value="<%%= begin @<%= singular_table_name %>.<%= attribute.name %>.min rescue "" end %>" />
          <input type="hidden" name="<%= singular_table_name %>[<%= attribute.name %>(5i)]" id="<%= singular_table_name %>_<%= attribute.name %>_5i" value="<%%= begin @<%= singular_table_name %>.<%= attribute.name %>.hour rescue "" end %>" />
          <%%= f.text_field :<%= attribute.name %>, :class => "tpicker" %><span class="add-on"><i class="icon-time"></i></span>
        </div>
      </div>
    </div>
  <%- else -%>
    <div class="control-group">
      <%%= f.label :<%= attribute.name %>, t(:<%= attribute.name %>, :default => "<%= attribute.name.capitalize %>"), :class => "control-label" %>
      <div class="controls">
        <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
      </div>
    </div>
  <%- end -%>
<%- end -%>
